
* {
  margin: 0;
  padding: 0;
}

.dina4{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  width: 21cm;
  min-height: 29.7cm;
  padding: 0cm;
  margin: 0cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
}

.etiquetacontainer{
  margin: 1cm;
  border:1px solid black;
  border-radius: 25px;
  position: relative;
  padding: 0.2cm;
  height: 4.5cm;
}

.cantidad{
  border: 2px solid black;
  position: absolute;
  top: 10px;
  right: 10px;
}
.remitente{
  border: 2px solid black;
  height: 1.7cm;
  width: 7cm;
  font-size: 0.35cm;
} 
.destinatario{
  border: 2px solid black;
  position: absolute;
  width: 95%;
  bottom: 0px;
  text-align: center;
  margin-bottom: 0.2cm;
  font-size: 0.55cm;
}

.fullapp{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2vh 20vw;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.menu > button{
  background: rgb(0, 102, 255);
  color: white;
  width: 15vw;
  height: 5vh;
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px grey;
  -moz-box-shadow: inset 0px 0px 5px grey;
  box-shadow: inset 0px 0px 5px grey;
}

.menu > button:hover{
  background: rgb(93, 146, 226);
}

.menu > button:active{
  outline: none;
  -webkit-box-shadow: inset 0px 0px 15px darkgrey;
  -moz-box-shadow: inset 0px 0px 15px darkgrey;
  box-shadow: inset 0px 0px 15px darkgrey;

}